﻿@model Poski_Test.ViewModels.Service

@{
	ViewBag.Title = "Edit Service | Poski Test";
	Layout = "~/Views/Shared/Layout_Admin.cshtml";
}



<div id="content-header">
	<div id="breadcrumb">
		<a href="/admin" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
			<a href="/services" class="tip-bottom" data-original-title="">services</a>
			<a href="javascript:void(0)" class="tip-bottom" data-original-title="">Edit</a>
	</div>
	<h1>Edit @Model.Name Service</h1>
</div>


<div class="container-fluid">
	<hr />
	<div class="row-fluid">
		<div class="span-8">

			@using (Html.BeginForm("ServiceEdit", "Admin", FormMethod.Post, new { @class = "form-horizontal", id = "form-create", name = "form-create", novalidate = "novalidate", enctype = "multipart/form-data" })) {
				@Html.AntiForgeryToken()
				@Html.ValidationSummary()				
				
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon"><i class="icon-align-justify"></i></span>
						<h5>Complete the Service Details </h5>
					</div>
					<div class="widget-content nopadding">
						<div class="control-group">
							@Html.LabelFor(model => model.Name, new { @class = "control-label" })
							<div class="controls">
								@Html.TextBoxFor(model => model.Name, new { @class = "span7", @value = @Model.Name })
							</div>
						</div>
						

                        <div class="control-group">
							@Html.LabelFor(model => model.Email, new { @class = "control-label" })
							<div class="controls">
								@Html.TextBoxFor(model => model.Email, new { @class = "span7", @value = @Model.Email })
							</div></div>
                        <div class="control-group">
							
							<label class="control-label">Available </label><div class="controls">
								@Html.EditorFor(model => model.isAvailable, new { @class = "span7" , @value = @Model.isAvailable})							</div></div>		
                        <div class="control-group">
							@Html.LabelFor(model => model.Desc, new { @class = "control-label" })
							<div class="controls">
								<textarea name="Desc" id="Desc">@Model.Desc</textarea>	

							</div></div>
                        <div class="control-group">
						@Html.LabelFor(model => model.Logo, new { @class = "control-label" })
							<div class="controls">
                                @if(Model.LogoName!="00000000-0000-0000-0000-000000000000"){
                                    <img src="~/Images/Services/@(Model.LogoName).png" style="max-width:200px"/>
                                <br />
                                }
		                    <input type="file" name="Logo" id="Logo"/>						
                        </div>
					</div>		
				
					</div>

						</div> 

      

				<div class="form-actions">
					<a href="@Url.Action("ServiceList", "Admin")" class="btn">Cancel</a> &nbsp; or &nbsp;
						
							<input id="back" class="btn btn-primary" type="submit" value="Save Changes" />
				</div>
       
   }


		</div>


	</div>


</div>
@section js{
      <script type="text/javascript">
          $(document).ready(function () {

              $('input[type=checkbox],input[type=radio],input[type=file]').uniform();
              CKEDITOR.replace('Desc');
          });
       </script>
}

@section css{
	<link rel="stylesheet" href="~/css/select2.css" />
}

