﻿@model IEnumerable<Poski_Test.ViewModels.Service>
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Manage Services | Poski Test";
    Layout = "~/Views/Shared/Layout_Admin.cshtml";
}


  <div id="content-header">
	<div id="breadcrumb">
		<a href="/admin" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
		<a href="javascript:void(0);" class="tip-bottom" data-original-title="">Services</a>
		

	</div>
	 <h1>Manage Services</h1>
  </div> 

  <div class="container-fluid">
	<hr />

	<div class="row-fluid">
		<div class="span-8">

		<p>
			<a href="@Url.Action("ServiceCreate", "Admin")" class="btn btn-primary">Create New Service</a>
		</p>

		<div class="widget-box">
			<div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
				<h5>Services Listing</h5>
			</div>
			<div class="widget-content nopadding">	

				@(Html.Kendo().Grid(Model)    
					.Name("Grid")
					.Columns(columns =>
					{
						columns.Bound(p => p.ID).Groupable(false).Width(80);
						columns.Bound(p => p.Name);
						columns.Bound(a => a.ID).Title("Actions").ClientTemplate(
						 "<a href='services/edit/"+"#= ID #'" +" class=\"k-button k-button-icontext k-grid-edit\"><span class=\"k-icon k-edit\"></span>Edit</a>"
						).Filterable(false).Width(80);
                        columns.Bound(a => a.ID).Title("").ClientTemplate(
                             "<a href='services/photos/" + "#= ID #'" + " class=\"k-button k-button-icontext k-grid-edit\"><span class=\"k-icon k-photo\"></span>Manage Photos</a>"
                            ).Filterable(false).Width(150);
							
                    })
					.Pageable()
					.Sortable()
					.Groupable()
					.Filterable()
					.Resizable(resize => resize.Columns(true))
					.DataSource(dataSource => dataSource
						.Ajax()
						.Read(read => read.Action("ServiceListAjax", "Admin"))
						.Model(model => model.Id(p => p.ID)) 
						.PageSize(20)
					)
				)

			</div>
		</div>
		</div>

	</div>
	
	
	<hr />

  </div>

@section js{
	

	}

  
@section css{
	<link href="~/css/kendo.common.min.css" rel="stylesheet" />
	<link href="~/css/kendo.default.min.css" rel="stylesheet" />
}



