﻿@model Poski_Test.ViewModels.Service
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Manage Service Photos | Poski Test";
    Layout = "~/Views/Shared/Layout_Admin.cshtml";
}


  <div id="content-header">
	<div id="breadcrumb">
		<a href="/admin" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
		<a href="/services" class="tip-bottom" data-original-title="">Services</a>
		<a href="javascript:void(0);" class="tip-bottom" data-original-title="">Service Photos</a>

	</div>
	 <h1>Manage @Model.Name Photos</h1>
  </div> 

  <div class="container-fluid">
	<hr />

	<div class="row-fluid">
		<div class="span-8">

		 <form action="/Photos/Create/@Model.ID" Method="POST" class = "form-horizontal" id = "form-create" name = "form-create" > 		
           <input type="file" name="PhotoFile" id="PhotoFile"/> <input class="btn btn-primary"  value="Add Photo" type="submit"/>      
         </form>
		<div class="widget-box">
			<div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
				<h5>Service Photos Listing</h5>
			</div>
			<div class="widget-content nopadding">	
                <div id="Viewport"></div>
                
			</div>
		</div>
		</div>

	</div>
	
	
	<hr />

  </div>
	
@section js{
    <script type="text/x-kendo-template" id="Photos">
       
          
        		<ul class="size">
          # for (var i = 0; i < data.length; i++) { #

                    <li>
                    <img src="/Images/Photos/#= data[i].Name #.png" style="width:200px" /><a class="name" href="javascript: deletep(#= data[i].ID #); ">Delete</a>  
                    </li>

				
        #}#</ul>
        </script>

    <script type="text/javascript">
        
        function deletep(id) {


            $.ajax({
                url: '/photos/delete/' + id,
                async: false,
                dataType: 'json',
                success: function (json) {
                    load();

                }
            });
        }
       
        var load = function () {

            var data = null;

            $.ajax({
                url: '/services/photosapi/@Model.ID',
                async: false,
                dataType: 'json',
                success: function (json) {
                    data = json;

                }
            })
            var template = kendo.template($("#Photos").html());
            var result = template(data);
            $("#Viewport").html(result);
        }
       

        $(document).ready(function () {


            $('input[type=checkbox],input[type=radio],input[type=file]').uniform();
            load();
            var options = {

                success: function () {
                    load();
                    alert("Attribute was Successfully Created");
                    $('#form-create')[0].reset();
                }
            };
            $('#form-create').ajaxForm(options);
           
        })

</script>

	}

  
@section css{
    <style type="text/css">
    ul.size {
  list-style-type: none;
  overflow-x: auto;
 
  padding-left: 10px;
}
ul.size li {
  float: left;
 text-align: center;
  display: block;
  text-decoration: none;
  padding: 3px;
  border-radius: 3px;
  color: black;
}
ul.size li img {
  max-width:200px;
    max-height:200px;
}
ul.size li .name {
  display: block;
}</style>

	<link href="~/css/kendo.common.min.css" rel="stylesheet" />
	<link href="~/css/kendo.default.min.css" rel="stylesheet" />
}



