﻿
/*
 * Service Provider  Create/Edit
 */

#editor, #editor_css{ 
	width: 600px;
	height: 400px;
}

#editor_confirmationmessage { 
	width: 600px;
	height: 250px;
}

.order-widget-selection {
	height: 500px;
	width: 1000px;
	overflow: hidden;
	background-color: #f4f4f4;
	border: 1px solid #aaa;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.order-widget-iframe, .order-widget-loading {
	display: none;
}

.order-widget-loading .progress{
	margin-left: 350px;
}

.order-widget-loading span{
	margin-left: 300px;
	display: inline-block;
}

.order-widget-selection-message {
	color: #555;
	font-size: 24px;
}

.k-window  div.k-window-content{
	overflow: hidden;
}