﻿@model IEnumerable<Poski_Test.ViewModels.Service>
@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Poski Test</h1>
                
            </hgroup>
           
        </div>
    </section>
}
<h3>Available Services</h3>
<hr />
<ol class="round">
   @foreach (Poski_Test.ViewModels.Service service in Model) { 
   
        <li >
        <img src="~/Images/Services/@(service.LogoName).png" width="80" />

      <h2 style="padding-left:30px">  @service.Name</h2>
        <a style="float:right;" href="/services/view/@service.ID">Learn more…</a>
    </li>
<hr />
   }
   
    
</ol>
