﻿@model Poski_Test.ViewModels.Service
@{
    ViewBag.Title = "ViewService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .fadein { position:relative; width:500px; height:332px; }
.fadein img { position:absolute; left:0; top:0; }
</style>
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Model.Name</h1>
                <div style="float:right;"><a href="/service/request/@Model.ID">Ask for quote</a></div>
            </hgroup>
           
        </div>
    </section>
}

@Html.Raw(@Model.Desc)

<h5>Related Photos</h5><br />
<div class="fadein">
@foreach (string s in Model.Photos) {
<img src="~/Images/Photos/@(s).png"  style=" padding-left:200px;max-width:500px;"/>

}
    </div>
<script src="~/Scripts/jquery.min.js"></script> 
	
<script type="text/javascript">
    function next() {
        $('.fadein :first-child').fadeOut()
           .next('img').fadeIn()
           .end().appendTo('.fadein');
    }
    $(document).ready(function () {
        $('.fadein img:gt(0)').hide();
        setInterval(next,
          3000);

    });
    

</script>