﻿@model MvcFlash.Core.Models.FlashContext
<div id="@Model.Message.Type-@Model.Index" class="alert alert-@Model.Message.Type">
	<button class="close" data-dismiss="alert">×</button>
	@Model.Message.Text
</div>