﻿<!DOCTYPE html>
<html lang="en">
<head>
	<title>@ViewBag.Title</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="~/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" href="~/css/uniform.css" />
	<link rel="stylesheet" href="~/css/fullcalendar.css" />
	<link rel="stylesheet" href="~/css/core.css" />
	<link rel="stylesheet" href="~/css/matrix-media.css" />
	<link href="~/css/font-awesome.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/css/jquery.gritter.css" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

	<script src="~/Scripts/jquery.min.js"></script> 
	<script src="~/Scripts/kendo.web.min.js"></script> 
	<script src="~/Scripts/kendo.aspnetmvc.min.js"></script> 
    <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
	@RenderSection("css", required: false)
</head>
<body>

<!--Header-part-->
<div id="header">

</div>
<!--close-Header-part--> 


<!--top-Header-menu-->
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()}    
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Welcome @User.Identity.Name</span><b class="caret"></b></a>
      <ul class="dropdown-menu">
          

<li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-key"></i> Log Out</a></li>

        
      </ul>

    </li><!--
    <li class="dropdown" id="menu-messages"><a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope"></i> <span class="text">Messages</span> <span class="label label-important">5</span> <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a class="sAdd" title="" href="#"><i class="icon-plus"></i> new message</a></li>
        <li class="divider"></li>
        <li><a class="sInbox" title="" href="#"><i class="icon-envelope"></i> inbox</a></li>
        <li class="divider"></li>
        <li><a class="sOutbox" title="" href="#"><i class="icon-arrow-up"></i> outbox</a></li>
        <li class="divider"></li>
        <li><a class="sTrash" title="" href="#"><i class="icon-trash"></i> trash</a></li>
      </ul>
    </li>-->
      
    <li class=""><a title="" href="javascript:document.getElementById('logoutForm').submit()"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
  </ul>
    
</div>
<!--close-top-Header-menu-->

<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
  <ul>
    <li><a href="/admin"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>   
    <li> <a href="/services"><i class="icon icon-gift"></i> <span>Services</span></a> </li>
    <li><a href="/requests"><i class="icon-envelope-alt"></i> <span>Requests</span> <div class="label" id="unread"></div></a></li>
   
 
  </ul>
</div>
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content">
	@RenderBody()
</div>

<!--end-main-container-part-->

<!--Footer-part-->

<div class="row-fluid">
  <div id="footer" class="span12"> 2013 &copy; Allegro Platform. Made in Cairo  </div>
</div>

<!--end-Footer-part-->
<script src="~/Scripts/excanvas.min.js"></script> 
<script src="~/Scripts/jquery.ui.custom.js"></script> 
<script src="~/Scripts/bootstrap.min.js"></script> 
<script src="~/Scripts/jquery.flot.min.js"></script> 
<script src="~/Scripts/jquery.flot.resize.min.js"></script> 
<script src="~/Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/jquery.timeentry.js"></script>

<script src="~/Scripts/fullcalendar.min.js"></script> 
<script src="~/Scripts/matrix.js"></script> 
<script src="~/Scripts/jquery.gritter.min.js"></script> 
<script src="~/Scripts/jquery.validate.js"></script> 
<script src="~/Scripts/jquery.wizard.js"></script> 
<script src="~/Scripts/jquery.uniform.js"></script> 
<script src="~/Scripts/select2.min.js"></script> 
<script src="~/Scripts/matrix.popover.js"></script> 
<script src="~/Scripts/jquery.mjs.nestedSortable.js"></script> 
<script src="~/Scripts/jquery.form.js"></script> 




@RenderSection("js", required: false)
    <script type="text/x-kendo-template" id="notemplate">
		 #= Num # 	
	</script>
<script type="text/javascript">
    // This function is called from the pop-up menus to transfer to
    // a different page. Ignore if the value returned is a null string:
    function goPage(newURL) {

        // if url is empty, skip the menu dividers and reset the menu selection to default
        if (newURL != "") {

            // if url is "-", it is this page -- reset the menu:
            if (newURL == "-") {
                resetMenu();
            }
                // else, send page to designated URL            
            else {
                document.location.href = newURL;
            }
        }
    }



    // resets the menu selection upon entry to this page:
    function resetMenu() {
        document.gomenu.selector.selectedIndex = 2;
    }
    var template = kendo.template($("#notemplate").html());
    var ajax_call = function () {
   
        var data = null;

        $.ajax({
            url: '/requests/unread',
            async: false,
            dataType: 'json',
            success: function (json) {
                data = json;
                
            }
        })

        var result = template(data);
        $("#unread").html(result);
    }
    var interval = 1000 * 60 * 0.1; // where X is your every X minutes

    
    $(document).ready(function () {
        ajax_call();
        setInterval(ajax_call, interval);   
        var loc = $(location).attr('href').toLowerCase();
        $("#sidebar ul > li > a").each(function () {
            if (loc.indexOf(this.href.toLowerCase()) > -1) {
                $(this).parent().addClass("active");
            }
        });
    })

</script>
</body>
</html>
