﻿@model Poski_Test.ViewModels.Request


@{
    ViewBag.Title = "RequestCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Model.ServiceName</h1>
              </hgroup>
           
        </div>
    </section>
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Request</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.VisitorName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VisitorName)
            @Html.ValidationMessageFor(model => model.VisitorName)
        </div>

        
        <div class="editor-label">
            @Html.LabelFor(model => model.VisitorEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VisitorEmail)
            @Html.ValidationMessageFor(model => model.VisitorEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VisitorPhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VisitorPhone)
            @Html.ValidationMessageFor(model => model.VisitorPhone)
        </div>
            <div class="editor-label">
            @Html.LabelFor(model => model.Desc)
        </div>
        <div class="editor-field">
          
            <textarea name="Desc" id="Desc" rows="8" cols="60" style="resize:none;"></textarea>
            @Html.ValidationMessageFor(model => model.Desc)
        </div>

        

        <p>
            <input type="submit" value="Send Request" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
