﻿@{
    ViewBag.Title = "Poski Test| Admin Area";
    Layout = "~/Views/Shared/Layout_Admin.cshtml";
}

<div id="content-header">
	<div id="breadcrumb">
		<a href="/admin" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>Home</a>
	</div>
	<h1>Admin Dashboard</h1>
</div>




