﻿@model IEnumerable<Poski_Test.ViewModels.Request>
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Requests";
    Layout = "~/Views/Shared/Layout_Admin.cshtml";
}

  <div id="content-header">
	<div id="breadcrumb">
		<a href="/admin" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
		<a href="javascript:void(0);" class="tip-bottom" data-original-title="">Requests</a>
		

	</div>
	 <h1>View Requests</h1>
  </div> 

  <div class="container-fluid">
	<hr />

	<div class="row-fluid">
		<div class="span-8">

		

		<div class="widget-box">
			<div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
				<h5>Requests Listing</h5>
			</div>
			<div class="widget-content nopadding">	

				@(Html.Kendo().Grid(Model)    
					.Name("Grid")
					.Columns(columns =>
					{
						columns.Bound(p => p.ID).Groupable(false).Width(80);
						columns.Bound(p => p.VisitorName);
                        columns.Bound(p => p.ServiceName);
                        
                        columns.Bound(p => p.VisitorEmail);
                        columns.Bound(p => p.VisitorPhone);
                       
						columns.Command(command => command.Custom("View").Click("showContent")).Width(80);
					})
					.Pageable()
					.Sortable()
					.Groupable()
					.Filterable()
					.Resizable(resize => resize.Columns(true))
					.DataSource(dataSource => dataSource
						.Ajax()
                        .Sort(sort => sort.Add("ID").Descending())
						.Read(read => read.Action("RequestListAjax", "Admin"))
						.Model(model => model.Id(p => p.ID)) 
						.PageSize(20)
					)
				)

			</div>
		</div>
		</div>

	</div>
	
	@(Html.Kendo().Window().Name("DeleteConfirmation")
		.Title("Request")
		.Visible(false)
		.Modal(true)
		.Draggable(true)
		.Width(600)       
	)

	
	<hr />

  </div>

@section js{
	<script type="text/x-kendo-template" id="template">
		<h2> #= VisitorName #'s request for #= ServiceName # </h2>
		<p> #= Desc # </p>
        <div align="right">
        <a href="javascript:void(0);" id="cancel-btn" class="btn">Cancel</a>
        </div>
	</script>

	<script type="text/javascript">

	    var wnd;

	    $(document).ready(function () {

	        $("#cancel-btn").live("click", function (event) {
	            wnd.close();
	        });

	    });

	    var detailsTemplate = kendo.template($("#template").html());

	    function showContent(e) {
	        e.preventDefault();

	        
	        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
	        wnd = $("#DeleteConfirmation").data("kendoWindow");
	        var URL="/Requests/read/"+dataItem.ID;
	        $.ajax({
	            url: URL       
	        }); 
	        wnd.content(detailsTemplate(dataItem));
	        wnd.center().open();
	    }

	</script>
}

  
@section css{
	<link href="~/css/kendo.common.min.css" rel="stylesheet" />
	<link href="~/css/kendo.default.min.css" rel="stylesheet" />
}


